This is Home Page.

<div>
  <app-button display="bordered">
    border 기본
  </app-button>
  <app-button display="bordered" color="primary">
    border 주
  </app-button>
  <app-button display="bordered" color="secondary">
    border 보조
  </app-button>
</div>

<div>
  <app-button>
    border 기본
  </app-button>
  <app-button color="primary">
    border 주
  </app-button>
  <app-button color="secondary">
    border 보조
  </app-button>
</div>

<div>
  <app-button display="raised">
    border 기본
  </app-button>
  <app-button color="primary" display="raised">
    border 주
  </app-button>
  <app-button color="secondary" display="raised">
    border 보조
  </app-button>
</div>


<div>
  <div>
    <app-link [isBlank]="true" link="https://www.naver.com">
      네이버
    </app-link>
  </div>
  <div>
    <app-link link="https://www.naver.com">
      네이버
    </app-link>
  </div>
</div>

<div>
  <app-checkbox label="1" value="1" groupName="test" display="inline-flex"></app-checkbox>
  <app-checkbox label="TWO" value="2" groupName="test" display="inline-flex"></app-checkbox>
</div>

<div>
  <app-radio label="하나" value="1" groupName="radio" display="inline-flex" [control]="test"></app-radio>
  <app-radio label="둘" value="2" groupName="radio" display="inline-flex" [control]="test"></app-radio>
</div>

<div>
  <app-button type="button" (event)="onTest()">확인</app-button>
</div>

<div>
  <app-input [type]="test.value == 2 ? 'password' : 'text'" [required]="false"></app-input>
</div>


<div>
  <app-text type="block" text="테스트"></app-text>
  <app-text type="block" text="테스트" textColor="primary"></app-text>
  <app-text type="block" text="테스트"></app-text>
  <app-text type="block" text="테스트" textColor="secondary"></app-text>
</div>


<div style="border: 5px solid red" appClickOutSide (clickOutSide)="closeTest()">
  <p>테스트</p>
  <p>테스트</p>
  <p>테스트</p>
  <p>테스트</p>
  <p>테스트</p>
  <p>테스트</p>
  <p>테스트</p>
  <p>테스트</p>
</div>