This is Home Page.

<div>
  <app-button display="bordered">
    border 기본
  </app-button>
  <app-button display="bordered" color="primary">
    border 주
  </app-button>
  <app-button display="bordered" color="secondary">
    border 보조
  </app-button>
</div>

<div>
  <app-button>
    border 기본
  </app-button>
  <app-button color="primary">
    border 주
  </app-button>
  <app-button color="secondary">
    border 보조
  </app-button>
</div>

<div>
  <app-button display="raised">
    border 기본
  </app-button>
  <app-button color="primary" display="raised">
    border 주
  </app-button>
  <app-button color="secondary" display="raised">
    border 보조
  </app-button>  
</div>
