<!-- App Component -->

<!-- <app-contents></app-contents> -->

<div class="grid-container">
  <div class="grid-header">
    <app-header 
      (openSidebar)="openSidebar($event)" 
      (openSearch)="openSearch($event)"
    ></app-header>
  </div>
  <div class="grid-contents">
    <app-content></app-content>
  </div>
  <app-shadow-cover [display]="openBox === 'search' ? 'center' : ''" *ngIf="openBox" [ngSwitch]="openBox">
    <app-sidebar
      appClickOutSide 
      *ngSwitchCase="'sidebar'"
      (clickOutSide)="closeSidebar($event)" 
      (onClickPageMenu)="closeSidebar($event)"
    ></app-sidebar>
    <app-modal-search 
      appClickOutSide
      *ngSwitchCase="'search'"
      (clickOutSide)="closeSearch($event)"
    ></app-modal-search>
  </app-shadow-cover>
</div>
